﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master.Master" AutoEventWireup="true" CodeBehind="test.aspx.cs" Inherits="MACEG.test" EnableEventValidation="false" %>

<asp:Content ID="Content1" ContentPlaceHolderID="CPTitle" runat="server">
    test facebook integration
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="CPHead" runat="server">
    <style>
        #main-content {
            margin : 40px auto;
        }
    </style>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="CPContent" runat="server">
    <div id="main-content">
        <div id="main" role="main" class="wpv-main layout-full">
            <asp:FileUpload ID="FileUpload1" runat="server" Style="margin-left: 538px;" />
            <%--
            <br />
            <br />
                
            <asp:TextBox ID="txtMessage" runat="server" TextMode="MultiLine" CssClass="col-xs-4" Style="margin-left: 538px;"></asp:TextBox>
            <br />
            <asp:Button ID="btnUpload" runat="server" Text="Upload" OnClick="UploadPhoto" Style="margin-left: 538px;" CssClass="btn" />--%>
            <br />
            <asp:Button ID="btnUpload" runat="server" Text="Upload" OnClick="UploadPhoto" Style="margin-left: 538px;" CssClass="btn" />
        </div>
    </div>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="CPScript" runat="server">
</asp:Content>
