﻿::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #828989;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #7C8A8D;
    }
